.popover {
  display: none;
  position: absolute;
  border: 1px solid;
  width: 150px;
}
.popover-wrapper {
  margin-top: 100px;
  margin-left: 200px;
  display: inline-block;
  align-items: center;
  position: relative;
}

/* 1. On hover over the button make the popover appears at the left bottom corner */

/* button:hover ~ .popover {
  display: block;
  right: 100px;
} */

/* 2. On hover over the button make the popover appears at the left right corner */

/* button:hover ~ .popover {
  display: block;
  left: 100px;
} */

/* 3. On hover over the button make the popover appears at the left top corner */

/* button:hover ~ .popover {
  display: block;
  bottom: 21px;
  right: 100px;
} */

/* 4. On hover over the button make the popover appears at the right top corner */

/* button:hover ~ .popover {
  display: block;
  bottom: 21px;
  left: 100px;
} */

/* 5. On hover over the button make the popover appears at the left top corner of the viewport */

/* button:hover ~ .popover {
  position: fixed;
  display: block;
  left: 0px;
  top: 0px;
} */
