h1 {
  color: blue;
}

.pencil {
  display: flex;
}

.eraser {
  background-color: pink;
  width: 50px;
  height: 50px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.holder {
  background-color: gray;
  width: 50px;
}

.pencil-body {
  background-color: yellow;
  width: 300px;
}

.pencil-head {
  display: inline-block;
  width: 0;
  border-left: 60px solid #966f33;
  border-top: 20px solid transparent;
  border-bottom: 21px solid transparent;
}

.pencil-pointer {
  height: 0;
  border-left: 15px solid black;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: relative;
  top: 20.5px;
}
